.row {
  display: flex;
}
.col {
  flex: 1;
  padding: 20px;
  margin: 10px;
  background-color: lightcyan;
}

.col2 {
  flex: 2 1 auto;
  padding: 20px;
  margin: 10px;
  background-color: lightcyan;
}

.col3 {
  flex: 3 2 auto;
  padding: 20px;
  margin: 10px;
  background-color: lightcyan;
}
